.btn-hamburger {
    cursor: pointer;
    height: 30px;
    width: 30px;
    float: right;
    position: relative;
    margin-left: 20px;
    display: none;
}

.btn-hamburger .top {
    top: 7px;
}

.btn-hamburger .middle {
    top: 16px;
}

.btn-hamburger .bottom {
    top: 26px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .btn-hamburger {
        display: block;
    }
}

.btn-hamburger-active .top {
    top: 16px;
}

.btn-hamburger-active .middle {
    opacity: 0;
    overflow: hidden;
}

.btn-hamburger-active .bottom {
    top: 16px;
}
